<% for (const product of products) { %>





<div class="col mb-5 allAnimation" 
      data-aos="fade-left"
     data-aos-easing="ease-in-back"
     data-aos-delay="0"
     data-aos-offset="0"
     >
  <div class="card h-100 div2 zoom"  >
    <!-- Product image-->
    <img
    
      class="card-img-top "
      src="<%= product.thumbnail %>"
      alt="<%= product.title %>"
     
    />
    <!-- Product details-->
    <div class="card-body p-1">
      <div class="text-center">
        <!-- Product name-->
        <a style="color: #000;cursor: pointer;"  onclick="detailsProduit('<%= product.title %>','<%= product.price %>','<%= product.thumbnail %>','<%= product.description %>','<%= product.id %>')"><h5 class="fw-bolder"><%= product.title %></h5></a>
        <!-- Product price-->
        <%= product.price %> $
        <p><span style="color: orange;">HACK</span><span>-</span><span style="color: dodgerblue;">RAPYD</span></p>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center ">
        <a class="btn btn-danger mt-auto add-to-cart" data-productid="<%= product.id %>"  style="background-color: orangered;cursor: pointer;" id="add-to-cart">
          <i class="fas fa-shopping-cart me-2"></i>
          add Cart +</a>
      </div>
    </div>
  </div>
</div>

 <% } %>

